{
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 10000,
  "indentSchema": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": "*.{js,css}",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "liquid-html",
        "htmlWhitespaceSensitivity": "strict"
      }
    }
  ]
}
