.footer-format {
    position: relative;
    bottom: 0;
    width: 100%;
}

.page-wrapper {
    display: flex;
    min-height: 63.5vh;
}

.bi {
    vertical-align: 0.125em;
}

.default-img {
    width: 100%;
    height: auto;
}

.overflow-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
